@import "./../../scss/imports";

#root {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  > .overlay {
    position: relative;
    z-index: 2;
  }

  > canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}