@import "./../../scss/imports";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.display-layers {
  position: relative;
  width: 100%;
  height: 100%;
}

.display-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transform-origin: top left;
}