@import "./../../scss/imports";
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/code';
// @import '~bootstrap/scss/alert';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/button-group';
// @import '~bootstrap/scss/close';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/utilities';
// @import "~bootstrap/scss/_custom-forms";

$header-top-height: 3rem;

:root {
  font-size: 1.57vw;

  @media (max-width: 890px) {
    font-size: 14px;
  }

  @media (min-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.embedded {
  &__header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
  }

  &__header {
    top: 0;

    &-top,
    &-bottom {
      position: relative;
      background-color: transparentize($body-bg, .1);
    }

    &-top {
      z-index:5;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, .2);

      // @media (max-width: 424px) {
      @media (max-width: 374px) {
        flex-direction: column;
        align-items: stretch;
      }

      &-left,
      &-right {
        flex-grow: 1;
        display: flex;
        align-items: center;
      }

      &-right {
        justify-content: flex-end;
      }
    }

    &-bottom {
      z-index: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      max-height: #{"calc(100vh - " + $header-top-height + ")"};
      transition: transform 218ms ease-in-out,
                  opacity 218ms ease-in-out;
      will-change: opacity, transform;
      transform: translate3d(0, -100%, 0);
      opacity: 0;

      .embedded__header:hover &,
      .embedded--focus & {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }

      > .row {
        border-top: 1px solid rgba(255, 255, 255, .2);
        border-bottom: 1px solid rgba(0, 0, 0, .2);
      }
    }
  }

  &__logo-link,
  &__title,
  &__author {
    margin: 0 .5rem 0 0;
  }

  &__logo-link {
    display: block;
  }

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    font-size: 2rem;

    @media (max-width: 550px) {
      max-width: 48vw;
      font-size: 1.5rem;
    }
  }

  &__author {
    color: $color-yellow;
    font-size: 1.5rem;

    @media (max-width: 550px) {
      font-size: 1.2rem;
    }
  }

  &__logo,
  &__author-avatar {
    display: block;
  }

  &__logo {
    margin: .5rem;
    width: 2rem;
    height: 2rem;
  }

  &__author-avatar {
    width: $header-top-height;
    height: $header-top-height;
  }

  &__actions {
    flex-grow: 0;
    min-width: max-content;
  }
}

.display-layers {
  background-color: black;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
}

.layers-info {
  overflow: auto;
  max-height: inherit;
}

.layer-info {
  border-top: 1px solid rgba(255, 255, 255, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);

  &:first-child {
    border-top: none;
  }

  .hljs {
    background: transparentize(#23241f, .1);
  }

  &__script {
    &,
    pre {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    pre,
    code {
      flex-grow: 1;
    }

    pre {
      margin-bottom: 0;
    }

    code {
      max-height: 50vmin;
    }
  }
}