@import "./../../scss/imports";

.api-reference {
  // background-color: $input-bg;
  max-height: 20vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__name {
    &--function {
      color: $color-blue;
      // color: $color-white3;
    }

    &--number {
      color: $color-purple;
    }

    &--string {
      color: $color-yellow;
    }
  }

  &__list {
    list-style: none;
    overflow: auto;
    padding: 0;
    margin: 0;
    max-height: 50%;

    &-item {
      padding: $input-padding-y-sm $input-padding-x-sm;
      display: flex;
      align-items: center;

      a {
        margin: 0 .75rem 0 .25rem;
      }

      &--focused {
        text-decoration: underline;
      }
    }
  }

  &__category {
    display: inline-block;
    font-size: .6rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $font-family-sans-serif;

    &--math {
      // content: 'math';
    }

    &--canvas {
      // content: 'canvas';
    }

    &--three {
      // content: 'three';
    }
  }

  &__details {
    font-family: $font-family-sans-serif;
    font-size: .85rem;
    padding: $input-padding-y-sm $input-padding-x-sm;
    border-top: 1px solid lighten($input-bg, 10);

    &-link {
      cursor: pointer;
      flex-grow: 1;
    }
  }

  &__meta {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    padding-bottom: $input-padding-y-sm;
  }

  &__link {
    font-size: .85rem;
    text-transform: uppercase;

    .invisible {
      display: block;
      width: 0;
      height: 0;
      overflow: hidden;
    }

    &--mdn::before {
      content: '';
      display: block;
      width: 1em;
      height: 1em;
      background: url('../../static/images/mdn-dino.svg') no-repeat;
      background-size: contain;
    }
  }

  &__description {
    font-style: italic;
  }

  &__code {
    margin: $input-padding-y-sm 0 $input-padding-y-sm -4px;
  }

  &__add-snippet-button {
    padding-top: $input-padding-y-sm;
  }

  @media (min-width: 1280px) {
    width: 22rem;
    max-height: 100%;
    border: none;
  }
}