@import '../../scss/imports';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/utilities';
@import "~bootstrap/scss/_custom-forms";

body {
  width: 100vw;
  height: 100vh;
}

.fiha {
  width: 100%;
  height: 100%;

  font-family: $font-family;
  background-color: $body-bg;
  color: $body-color;

  &-layout {
    flex-grow: 1;
  }
}

.ReactModal__Body--open {
  overflow: hidden;
}

a {
  color: $link-color;
  &,
  &:link,
  &:hover,
  &:active,
  &:visited {
    color: $color-blue;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
  }
  &:hover{
    color: $link-hover-color;
    &::first-letter {
      text-decoration: underline;
    }
  }
}

.display-n-controls {
  max-width: 45vw;
  min-width: 45vw;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @media (min-width: 1280px) {
    max-width: 35vw;
    min-width: 35vw;
  }

  .display-layers {
    border: none;
    max-height: 45vh;
    min-height: 45vh;

    flex-grow: 1;

    @media (min-width: 1280px) {
      max-width: 35vw;
      min-width: 35vw;
    }
  }
  .controls {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

//----------------------------------
.display-layers {
  position: relative;
  background-color: #000;
  > iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    pointer-events: none;
  }
}

.fiha--display .display-layers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.display-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}



@import "./react-tabs";
@import "./vertical-tabs";
