@import "./../../scss/imports";

.fiha-editor {
  max-width: 55vw;
  min-width: 55vw;
  border-left: 2px solid $input-bg;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  overflow: hidden;

  @media (min-width: 1280px) {
    max-width: 65vw;
    min-width: 65vw;
  }

  &__toolbar,
  &__status {
    padding: $spacing;
    min-height: fit-content;
  }

  &__toolbar,
  &__status {
    border-top: 1px solid $input-bg;
  }

  &__toolbar,
  &__status {
    font-family: $font-family-sans-serif;
    display: flex;
    justify-content: space-between;
  }

  &__toolbar {
    border-bottom: 1px solid $input-bg;
  }

  &__ace {
    flex-grow: 1;
  }

  &__columns {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;

    @media (min-width: 1280px) {
      flex-direction: row-reverse;
    }
  }

  &__column {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;

    @media (min-width: 1280px) {
      border-right: 1px solid $input-bg;
    }
  }
}
