
.react-tabs {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $input-bg;

  &__tab-list {
    margin: 0;
    padding: 0.25em 0.5em 0 0.5em;
    display: flex;
    font-size: 0.8rem;
    font-family: sans-serif;
    background-color: $input-bg;
    flex-shrink: 0;
  }

  &__tab {
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 3;
    margin: 0 0.7em;
    padding: 0.35em 0.5em;
    background-color: #41423D;
    border-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 1px 0 0 0;
    color: $gray-600;

    &:before,
    &:after {
      z-index: 1;
      position: absolute;
      content: '';
      display: block;
      background-color: #41423D;
      border-color: rgba(0, 0, 0, 0.15);
      border-style: solid;
      height: #{'calc(100% + 1px)'};
      width: 1em;
      top: -1px;
      // box-shadow: 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.5);
    }
    &:before {
      border-width: 1px 0 0 1px;
      left: -0.65em;
      transform: skewX(-15deg);
    }
    &:after {
      border-width: 1px 1px 0 0;
      right: -0.65em;
      transform: skewX(15deg);
    }

    &--selected {
      color: $white;
      background-color: $color-background;
      z-index: 5;
      &:before,
      &:after {
        background-color: $color-background;
      }
    }
  }

  &__tab-panel {
    display: none;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    overflow: auto;
    background-color: $color-background;

    &--selected {
      display: flex;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }
  }
}