@import "./../../scss/imports";
@import "~bootstrap/scss/images";

.storage {
  &-dialog {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    font-family: $font-family;

    &__overlay {
      background-color: transparentize($gray-800, 0.1);
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      cursor: pointer;

      transform: translateY(-100vh);
      will-change: transform;
      transition: transform 0.218s ease;

      &--after-open {
        transform: translateY(0);
      }
      &--before-close {
        transform: translateY(-100vh);
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      cursor: default;
      margin: $spacer;
      width: 75vw;
      height: 75vh;
      border: 1px solid $color-black3;
      background-color: $body-bg;
      border-radius: $border-radius * 2;
      overflow: hidden;

      .container-fluid {
        display: flex;
        flex-direction: column;
      }

      ol {
        overflow: auto;
      }
    }
  }

  &-list {
    flex-grow: 1;
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      margin: 0;
      padding-top: $spacer * 0.25;
      padding-bottom: $spacer * 0.25;
      border-bottom: 1px solid $black;
      &:nth-child(even) {
        background-color: transparentize($gray-800, 0.1);
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.input-group {
  .input-group-addon {
    border-radius: 0;

    &:last-of-type {
      border-radius: 0 $border-radius $border-radius 0;
    }
  }
}