@import "./../../scss/imports";

/**
 *
 */
.toolbar {
  padding: 0 0.5vmin;

  &,
  &-menu {
    color: $black;
    background-color: #EFF0F1;
    font-size: 0.8rem;
    font-family: sans-serif;
  }

  &-menu {
    margin-top: 1px;
    border: 1px solid $color-grey;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.5);
    &__items {
      flex-direction: column;
      .toolbar__button {
        padding-left: 2vmin;
      }
    }
  }

  &__logo {
    padding: 0.5vmin;
    max-width: 27px;
    margin-bottom: -4px;
  }

  &__items,
  &-menu__items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__item {
    display: block;

    &--spacer {
      flex-grow: 1;
    }

    &--btn-group {
      & {
        display: flex;
        align-items: center;
      }
    }
  }

  &-menu__divider {
    margin: 0 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__button,
  &__label {
    display: inline-block;
    padding: 0.5vmin;
  }

  &__button {
    &,
    &:link,
    &:hover,
    &:active,
    &:visited {
      color: $black;
    }
  }

  &__label {
    color: $gray-700;
  }

  .btn-group .btn {
    font-size: 0.8rem;
    padding: 0.08rem 0.3rem;
  }

  // a {
  //   &,
  //   &:link,
  //   &:hover,
  //   &:active,
  //   &:visited {
  //     color: $black;
  //     cursor: pointer;
  //     display: inline-block;
  //     text-decoration: none;
  //   }
  // }
}
