html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: hsl(70, 8%, 15%);
  color: hsl(60, 30%, 96%);
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  overflow: auto;
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
}
#root-loading {
  text-align: center;
  align-self: center;
  flex-grow: 1;
  font-size: 3rem;
}
#root-loading svg {
  max-width: 80vmin;
  max-height: 80vmin;
  margin: auto;
}
#root-loading #fiha-line {
  fill: hsl(60, 30%, 96%);
}