@import "./scss/imports";

$font-family-base: $font-family-sans-serif;


@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/images';

.container {
  position: relative;
  > .row {
    position: relative;
    z-index: 10;
  }

  &:before,
  &:after {
    position: fixed;
    content: '';
    display: block;
    background: url(./static/vf.icon.svg) center no-repeat;
    mix-blend-mode: soft-light;
    background-size: contain;
    width: 80vw;
    height: 80vw;
    z-index: 9;
    pointer-events: none;
    opacity: 0.35;
  }

  &:before {
    top: 0;
    left: 0;
    transform: scale(1.2) rotate(12deg) translateX(-15vw) translateY(-5vw);
  }

  &:after {
    bottom: 0;
    right: 0;
    transform: scale(3) rotate(-18deg) translateX(10vw) translateY(25vw);
  }
}